<div class="back">
  <div class="div-center card">
    <div class="content">
      <h3>Sign In</h3>
      <hr />
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            placeholder="Email"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Password"
          />
        </div>
        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-primary m-3">Login</button>
        </div>
        <hr />
        <a type="button" class="btn btn-link" routerLink="/auth/register" routerLinkActive="router-link-active" >
          Signup
        </a>
        <button type="button" class="btn btn-link">Reset Password</button>
      </form>
    </div>
  </div>
</div>
